{% extends "main/base.html" %}

{%block content%}
<div class="text-center p-3 mb-4 bg-gradient rounded-3" style="background: linear-gradient(135deg, #e3f2fd, #bbdefb); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
<h1 class="display-3">帮助</h1>
  <div class="form-text"><ul>
  <h2>教师版</h2>
  <li>如果您要添加新学校，请先点击“学校”，然后点击“添加新的学校”。</li>
  <li>如果您要添加新班级，请先点击“学校”，然后点击新班级所属的学校，最后点击“添加新的班级”。</li>
  <li>如果您要添加新活动，请先点击“学校”，然后点击新活动所属的班级所属的学校，再点击新活动所属的班级，最后点击“添加新的活动”。</li></ul></div>
  <div class="pb-2 mb-2 border-bottom">
      
  
      </div>
  <div class="pb-2 mb-2 border-bottom">
    <div class="form-text"><ul>
      <h2>学生版</h2>
      <li>如果您想要查看自己的班级的活动，请点击“学校”，然后点击您的学校，再点击您的班级。</li></ul></div>
      <div class="pb-2 mb-2 border-bottom">
          
      
          </div>
    <h1 class="display-3">关于这个网站</h1>
  
      </div>
      <div class="form-text"><ul>
  <li>这个网站是由Django和Bootatrap5制作的。</li>

  
  <li>禁止滥用系统资源。</li>
  
  <li>本网站禁止处理机密信息。</li>
  <li>如果你对本网站有建议，请提交到yangrenruiyrr@163.com。</li>
  </ul>
  </div>
  <div class="pb-2 mb-2 border-bottom">
      
  
  </div>
  </div>
{%endblock content%}